body {
    background-color:#14050F;
    display: flex;
    margin: 0 auto;
}

#wrapper {
    width: 535px;
    height: 900px;
    padding: 61px 0;
    background: radial-gradient(389.69% 128% at 48.22% 0%, #34091E 0%, rgba(30, 7, 18, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -8px auto;
    border-width: 0px 1px;
    border-style: solid;
    border-color: #4A2F07;
    box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.25);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container {
    background-image: url(images/8237e226730d72a2d1565ad7b80d7991.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 245px;
    width: 472px;
    margin-top: -70px;
}

.logo {
    height: 145px;
    width: 145px;
    border-radius: 0px;
    margin: 0 auto;
}

@font-face {
    font-family: "Gill Sans MT";
    src: url("fonts/gillsansmt-webfont.woff2") format("woff2"),
    url("fonts/gillsansmt-webfont.woff") format("woff"); 
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    }

.text {
    font-family: Gill Sans MT;
    font-weight: 400;
    line-height: 16.24px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
    width: 384px;
    margin-top: -50px;
    display: flex;
    margin-bottom: 30px;
}

.btn {
    border-width: 0px 1px;
    border-style: solid;
    border-color:#DA9D46;
    background-color:#FFFFFF;
    border-radius: 100px;
    width: 350px;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.btnT {
    color: black;
    font-family: 'Inter', sans-serif;
}

.logoMin {
    height: 59px;
    width: 58px;
    margin-right: 20px;
    margin-top: 22px;
}
